@import "../../styles/variables.scss";

.form {
	&__input {
		height: 44px;
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #E5E5E5;
		border-radius: 4px;
		padding-left: 15px;
	}

	&__fild-name {
		margin-top: 20px;
	}

	:first-child {
		margin-top: 50px;
	}

	&__button {
		margin-top: 44px;
		height: 44px;
		max-width: 100%;
		font-style: normal;
		font-weight: 500;
		border-radius: 4px;
		background: $purple;
		color: #fff;
		padding: 14px 180px;
		border: none;
		cursor: pointer;
	}
}

.background {
	background: linear-gradient(71.17deg, #7C2874 19.35%, #493446 90.12%);
	// width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}