.background {
	background: linear-gradient(71.17deg, #7C2874 19.35%, #493446 90.12%);
	// width: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}